.about {
  padding-top: 95px;
  padding-bottom: 56px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px 20px;
  }

  &__label {
    @include fontAdaptive(12px, 20px, 400);
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__description {
    max-width: 474px;
    margin-bottom: 31px;
    @include fontAdaptive(17px, 24px, 400);

  }

  &__btn.btn {
    max-width: 128px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 15px;
  }

  &__item-icon {
    margin-bottom: 15px;
  }

  &__item-title {
    max-width: 268px;
    @include fontAdaptive(18px, 26px, 500);
  }
}


@include tablet {

  .about {

    &__container {
      grid-template-columns: 1fr;
    }

    &__description {
      max-width: unset;
    }
  }
}

@include phone {
  .about {

    &__list {
      grid-template-columns: 1fr;
    }
  }
}