.partners{
  margin-top: 54px;
  padding-bottom: 72px;

  &-container{
    position: relative;
  }

  &-slider{
    overflow: hidden;
  }

  &__mobile-text{
    display: none;
    margin-bottom: 59px;
    @include fontAdaptive(24px,32px,700);

    @include phone{
      display: block;
    }
  }

  &__show-all{
    display: block;
    
    @include phone{
      display: none;
    }
  }
  

  .swiper-slide{
    border: 1px solid var(--gray-4);
    text-align: center;
    padding: 9px 0;
  }


  & .slider-btn{
    bottom: 71px;
    position: absolute;
    z-index: 10;

    &--prev{
      left:-15px;
      transform: translateY(50%);
    }

    &--next{
      right: -15px;
      transform: rotate(180deg) translateY(-50%);
    }
  }
}