.projects {
  
  &__container {
    padding-bottom: 80px;
    border-bottom: 1px solid var(--green-4);
  }

  &__text {
    margin-bottom: 41px;
  }

  &__tabs {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    margin-bottom: 41px;
    gap: 0 40px;
    border-bottom: 1px solid var(--green-4);
    overflow:auto hidden;
  }

  &__tab {
    cursor: pointer;
    padding-bottom: 16px;
    position: relative;
    white-space: nowrap;
    @include fontAdaptive(18px, 26px, 600);

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      left: 0;
      height: 2px;
      transition: background .3s ease-in-out;
    }

    &:hover, &--active  {
      &::before {
        background: var(--green-1);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px 18px;
  }

  &__item {
    position: relative;

    &:hover .projects__item-content{
      opacity: 1;
      visibility: visible;
    }
  }

  &__item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 33px 26px;
    background: var(--blue-3-90);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition-duration: .3s;
    transition-property: opacity visibility;
  }

  &__item-tag {
    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__item-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1.08px;
  }
}

@include tablet{
  .projects{

    &__list{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width:576px){

  .projects{

    &__list{
      grid-template-columns: 1fr;
    }
  }
}