// ui
include ~@mixins/test-mixin
block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title #{title}
  body
    include ~@components/header.pug
    main
      include ~@components/top-slider.pug
      include ~@components/offers.pug
      include ~@components/about.pug
      include ~@components/projects.pug
      include ~@components/partners.pug
      include ~@components/feedback.pug
    include ~@components/footer.pug
