section.feedback
  .container.feedback__container
      .feedback-img 
        img(src="assets/images/components/feedback/cube.svg", alt="")
      .feedback-content 
        .feedback__title.title Оставьте заявку на подбор оборудования
        .feedback__text.text Напишите нам сообщение или закажите обратный звонок. Мы отвечаем каждому.
        .feedback__btns 
          button.feedback__btn.feedback__btn-write.btn Написать
          button.feedback__btn.feedback__btn-call.btn.btn--transparent Заказать звонок