section.header
  button.burger-menu
    span
  a.header__logo(href="/")
    img.header__logo-image(src='/assets/images/logo.svg', alt="systemzy")
  ul.header__menu
    li.header__menu-item
      a.header__menu-link(href="/")  Компания
    li.header__menu-item
      a.header__menu-link(href="/") Услуги
    li.header__menu-item
      a.header__menu-link(href="/") Решения
    li.header__menu-item
      a.header__menu-link(href="/") Каталог оборудования
    li.header__menu-item
      a.header__menu-link(href="/") Импортозамещение
    li.header__menu-item
      a.header__menu-link(href="/") Контакты
  .header__contacts
    a.header__email info@systemzy.ru
    .header__contacts-menu
      img.header__phone-logo(src="/assets/images/phone.svg", alt="")
      a.header__phone-text 8 (342) 257-90-70
      button.header__phone-btn 0
      .header__phone-menu
        a.header__address
        .header__time
  button.header__search
    img(src="/assets/images/search.svg", alt="search")
