extends ~@templates/main-template

block vars
  - title = 'Index'

block content
  //- include ~@components/top-slider.pug
  include ~@components/offers.pug
  include ~@components/about.pug
  include ~@components/projects.pug
  include ~@components/partners.pug
  include ~@components/feedback.pug
