:root {
  --black: #000;
  --white: #fff;
  --light-blue: #505099;
  --orange: #FF9C08;
  --green-1: #81C898;
  --green-2: #009641;
  --green-3: #11806D;
  --green-4: #E2F2D8;
  --blue: #08445F;
  --blue-2:#5A6C87;
  --blue-3-90: rgba(8, 68, 95, 0.90);
  --gray:#F8F8FA;
  --gray-2:#56565A;
  --gray-3:#9092A3;
  --gray-4:#BCBDC1;
  --gray-4:#E1E1E6;
}