@import './_mixins.scss';
@import './_fonts';
@import './_vars';
@import './_generic';

html {
  width: 100vw;
  overflow: hidden auto;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  overflow: hidden auto;
  min-height: var(--vh);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.body--no-scroll {
  overflow: hidden;
  height: var(--vh);
}
*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header, main, footer {
  width: 100%;
}


.container {
  margin: 0 auto;
  width: 100%;
}

@import './_imports';
